// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body.results-page {
  background-color: white;
  // background-color: rgb(204, 255, 252);
  font-family: "Walbaum", "Arial", sans-serif;
  color: rgb(53, 85, 113);
}

.results-wrapper {
  margin: auto;
  width: 350px;
  //width: 50%;
  height: 200px;
  font-size: 22px;
  text-align: center;
  background: white;
  // border: 1px solid rgb(70, 70, 120);

  h2 {
    font-size: 30px;
    text-align: center;
  }

  > div {
    position: absolute;
    top: 0;
  }
}
