// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body.results-page {
  background-color: white;
  font-family: "Walbaum", "Arial", sans-serif;
  color: rgb(53, 85, 113);
}

.results-wrapper {
  > div {
    position: absolute;
    top: 0;
  }
}
