// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body.results-page {
  background-color: rgb(230, 240, 255);
  background-image: url('/images/background.jpg');
  background-size: 100%;
  // background-color: rgb(204, 255, 252);
  font-family: "Walbaum", "Arial", sans-serif;
  color: rgb(53, 85, 113);

  h1 {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 50px;
    margin-bottom: 20px;
  }

  h2 {
    text-align: center;
    display: block;
    width: 100%;
  }

  > .container {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(70, 70, 120);
    margin-top: 25px;
    padding-top: 10px;
  }
}

$width: 800px;

.results-wrapper {
  margin: auto;
  width: $width;
  //width: 50%;
  height: 400px;
  font-size: 32px;
  text-align: center;
  position: relative;

  h2 {
    font-size: 40px;
    text-align: center;
  }

  > div {
    position: absolute;
    top: 0;
    width: $width;
  }
}
